@import "../../../src/styles/vars.scss";

.line1{
    font-family: $interstate-bold;
    font-size: 18px;
    color: #09163b;
    line-height: 24px;
    margin-bottom: 20px;

    @media only screen and (max-width: 375px) {  
        font-size: 15px;
        line-height: 24px;
    }
}

.line2{
    font-family: $interstate-regular;
    font-size: 15px;
    color: #09163b;
    line-height: 21px;
    margin-bottom: 25px;
    
    @media only screen and (max-width: 375px) {  
        font-size: 13px;
        line-height: 21px;
    }
}


.take-action-container{
    background-image: linear-gradient(#0CEBEB, #20E3B2, #29FFC6);

    @media only screen and (max-width: 375px) {  
        padding-left: 0;
        padding-right: 0;
    }

    &-leftside,
    &-rightside{
        height: 322px;
        max-height: 322px;
        padding-top: 105px;

        @media only screen and (max-width: 375px) {  
            height: 250px;
            max-height: 250px;
            padding-top: 60px;
        }
    }

    &-leftside{
        border-right: 1px solid #fff;

        &-line1 {
            @extend .line1;
          }
      
          &-line2 {
              @extend .line2;
            }
      
            @media only screen and (max-width: 375px) {  
              border-right: none;
              border-bottom: 1px solid #fff;

                &-line1,
                &-line2{
                  margin-left: 20px; 
                  margin-right: 20px; 
                }
          }
    }

    &-rightside{
        &-line1 {
            @extend .line1;
          }
      
          &-line2 {
                @extend .line2;
            }
      
            @media only screen and (max-width: 375px) {  
      
                &-line1,
                &-line2{
                  margin-left: 20px; 
                  margin-right: 20px; 
                }
          }
    }
}