@import "../../../src/styles/vars.scss";

.titleline{
    font-family: $interstate-regular;
    font-size: 24px;
    color: #09163b;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom:  6px solid #1EFF71;
    display: inline-block;

    @media only screen and (max-width: 375px) {  
        font-family: $interstate-bold;
        font-size: 18px;
        line-height: 26px;
        margin-left: 20px;
    }
}

.our-methodology-container{

    margin-top: 70px;
    margin-bottom: 70px;

    &-titleline{
        @extend .titleline;
        
    }
    &-titleline2{
        @extend .titleline;
        margin-top: 5px;
    }

    &-mainblurb{
        font-family: $interstate-light;
        font-size: 18px;
        color: #09163b;
        line-height: 24px;

        @media only screen and (max-width: 375px) {  
            margin-top: 20px;
            font-size: 13px;
            color: #09163b;
            line-height: 19px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &-threemain{
        margin-top: 70px;
        margin-bottom: 45px;
        font-family: $interstate-bold;
        font-size: 32px;
        color: #09163b;
        line-height: 38px;

        @media only screen and (max-width: 375px) {  
            margin-top: 50px;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 0;
        }
    }

    &-publicly-available-image{
        content: url('./images/1.png');
        width: 55px;
        height: 85px;

        @media only screen and (max-width: 375px) {  
            content: url('./images/1-small.png');
            width: 27px;
            height: 37px;
        }
    }

    &-primary-proprietary-image{
        content: url('./images/2.png');
        width: 74px;
        height: 86px;

        @media only screen and (max-width: 375px) {  
            content: url('./images/2-small.png');
            width: 33px;
            height: 38px;
        }
    }

    &-syndicated-image{
        content: url('./images/3.png');
        width: 74px;
        height: 88px;

        @media only screen and (max-width: 375px) {  
            content: url('./images/3-small.png');
            width: 33px;
            height: 39px;
        }
    }

    &-imageandtext{
        img{
            margin-bottom: 30px;
        }
        div{
            font-family: $interstate-bold;
            font-size: 18px;
            color: #09163b;
            line-height: 24px;
            text-transform: uppercase;
        }

        @media only screen and (max-width: 375px) {  
            img{
                margin-top: 30px;
            }
        }
    }

    &-skilled{
        margin-top: 70px;
        margin-bottom: 45px;
        font-family: $interstate-bold;
        font-size: 32px;
        color: #09163b;
        line-height: 38px;

        @media only screen and (max-width: 375px) {  
            font-size: 24px;
            line-height: 30px;
        }
    }
}