@font-face {
	font-family: 'Interstate-LightCompressed';
	src: url('../fonts/Interstate-LightCompressed.eot');
	src: url('../fonts/Interstate-LightCompressed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-LightCompressed.woff2') format('woff2'),
		url('../fonts/Interstate-LightCompressed.woff') format('woff'),
		url('../fonts/Interstate-LightCompressed.ttf') format('truetype'),
		url('../fonts/Interstate-LightCompressed.svg#Interstate-LightCompressed') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-BlackItalic';
	src: url('../fonts/Interstate-BlackItalic.eot');
	src: url('../fonts/Interstate-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-BlackItalic.woff2') format('woff2'),
		url('../fonts/Interstate-BlackItalic.woff') format('woff'),
		url('../fonts/Interstate-BlackItalic.ttf') format('truetype'),
		url('../fonts/Interstate-BlackItalic.svg#Interstate-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate-ThinItalic';
	src: url('../fonts/Interstate-ThinItalic.eot');
	src: url('../fonts/Interstate-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-ThinItalic.woff2') format('woff2'),
		url('../fonts/Interstate-ThinItalic.woff') format('woff'),
		url('../fonts/Interstate-ThinItalic.ttf') format('truetype'),
		url('../fonts/Interstate-ThinItalic.svg#Interstate-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate-LightItalic';
	src: url('../fonts/Interstate-LightItalic.eot');
	src: url('../fonts/Interstate-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-LightItalic.woff2') format('woff2'),
		url('../fonts/Interstate-LightItalic.woff') format('woff'),
		url('../fonts/Interstate-LightItalic.ttf') format('truetype'),
		url('../fonts/Interstate-LightItalic.svg#Interstate-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate-Bold';
	src: url('../fonts/Interstate-Bold.eot');
	src: url('../fonts/Interstate-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Bold.woff2') format('woff2'),
		url('../fonts/Interstate-Bold.woff') format('woff'),
		url('../fonts/Interstate-Bold.ttf') format('truetype'),
		url('../fonts/Interstate-Bold.svg#Interstate-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-Black';
	src: url('../fonts/Interstate-Black.eot');
	src: url('../fonts/Interstate-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Black.woff2') format('woff2'),
		url('../fonts/Interstate-Black.woff') format('woff'),
		url('../fonts/Interstate-Black.ttf') format('truetype'),
		url('../fonts/Interstate-Black.svg#Interstate-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-BoldItalic';
	src: url('../fonts/Interstate-BoldItalic.eot');
	src: url('../fonts/Interstate-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-BoldItalic.woff2') format('woff2'),
		url('../fonts/Interstate-BoldItalic.woff') format('woff'),
		url('../fonts/Interstate-BoldItalic.ttf') format('truetype'),
		url('../fonts/Interstate-BoldItalic.svg#Interstate-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate-UltraBlack';
	src: url('../fonts/Interstate-UltraBlack.eot');
	src: url('../fonts/Interstate-UltraBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-UltraBlack.woff2') format('woff2'),
		url('../fonts/Interstate-UltraBlack.woff') format('woff'),
		url('../fonts/Interstate-UltraBlack.ttf') format('truetype'),
		url('../fonts/Interstate-UltraBlack.svg#Interstate-UltraBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-Regular';
	src: url('../fonts/Interstate-Regular.eot');
	src: url('../fonts/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Regular.woff2') format('woff2'),
		url('../fonts/Interstate-Regular.woff') format('woff'),
		url('../fonts/Interstate-Regular.ttf') format('truetype'),
		url('../fonts/Interstate-Regular.svg#Interstate-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-Light';
	src: url('../fonts/Interstate-Light.eot');
	src: url('../fonts/Interstate-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Light.woff2') format('woff2'),
		url('../fonts/Interstate-Light.woff') format('woff'),
		url('../fonts/Interstate-Light.ttf') format('truetype'),
		url('../fonts/Interstate-Light.svg#Interstate-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-Thin';
	src: url('../fonts/Interstate-Thin.eot');
	src: url('../fonts/Interstate-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Thin.woff2') format('woff2'),
		url('../fonts/Interstate-Thin.woff') format('woff'),
		url('../fonts/Interstate-Thin.ttf') format('truetype'),
		url('../fonts/Interstate-Thin.svg#Interstate-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-RegularItalic';
	src: url('../fonts/Interstate-RegularItalic.eot');
	src: url('../fonts/Interstate-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-RegularItalic.woff2') format('woff2'),
		url('../fonts/Interstate-RegularItalic.woff') format('woff'),
		url('../fonts/Interstate-RegularItalic.ttf') format('truetype'),
		url('../fonts/Interstate-RegularItalic.svg#Interstate-RegularItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate-ExtraLight';
	src: url('../fonts/Interstate-ExtraLight.eot');
	src: url('../fonts/Interstate-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-ExtraLight.woff2') format('woff2'),
		url('../fonts/Interstate-ExtraLight.woff') format('woff'),
		url('../fonts/Interstate-ExtraLight.ttf') format('truetype'),
		url('../fonts/Interstate-ExtraLight.svg#Interstate-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate-UltraBlackItalic';
	src: url('../fonts/Interstate-UltraBlackItalic.eot');
	src: url('../fonts/Interstate-UltraBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-UltraBlackItalic.woff2') format('woff2'),
		url('../fonts/Interstate-UltraBlackItalic.woff') format('woff'),
		url('../fonts/Interstate-UltraBlackItalic.ttf') format('truetype'),
		url('../fonts/Interstate-UltraBlackItalic.svg#Interstate-UltraBlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate-ExtraLightItalic';
	src: url('../fonts/Interstate-ExtraLightItalic.eot');
	src: url('../fonts/Interstate-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-ExtraLightItalic.woff2') format('woff2'),
		url('../fonts/Interstate-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Interstate-ExtraLightItalic.ttf') format('truetype'),
		url('../fonts/Interstate-ExtraLightItalic.svg#Interstate-ExtraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}


