@charset 'utf-8';

// @import 'node_modules/foundation-sites/scss/settings/settings';
@import 'foundation-sites/scss/foundation';
//@import 'foundation-sites/foundation';

// Include the foundation-everything mixin, with the flex grid:
@include foundation-everything();

.show-for-desktop{
    display: block !important;

    @media only screen and (max-width: 375px) {  
        display: none !important;
    }
}

.show-for-desktop-only-inline-block{
    display: inline-block !important;

    @media only screen and (max-width: 375px) {  
        display: none !important;
    }
}

.show-for-mobile-only-inline-block{
    @media only screen and (max-width: 375px) {  
        display: inline-block !important;
    }

    display: none !important;
}
