

$interstate-light-compressed: "Interstate-LightCompressed", sans-serif;
$interstate-black-italic: "Interstate-BlackItalic", sans-serif;
$interstate-thin-italic: "Interstate-ThinItalic", sans-serif;
$interstate-light-italic: "Interstate-LightItalic", sans-serif;
$interstate-bold: "Interstate-Bold", sans-serif;
$interstate-black: "Interstate-Black", sans-serif;
$interstate-bold-italic: "Interstate-BoldItalic", sans-serif;
$interstate-ultra-black: "Interstate-UltraBlack", sans-serif;
$interstate-regular: "Interstate-Regular", sans-serif;
$interstate-light: "Interstate-Light", sans-serif;
$interstate-thin: "Interstate-Thin", sans-serif;
$interstate-regular-italic: "Interstate-RegularItalic", sans-serif;
$interstate-extra-light: "Interstate-ExtraLight", sans-serif;
$interstate-ultra-black-italic: "Interstate-UltraBlackItalic", sans-serif;
$interstate-extra-light-italic: "Interstate-ExtraLightItalic", sans-serif;