@import "../../../src/styles/vars.scss";

.subscribe-container {
    height: 322px;
    max-height: 322px;
    padding-top: 105px;
    background-image: linear-gradient(#0CEBEB, #20E3B2, #29FFC6);

    

  .subscribe-container-header {
    &-line1 {
      font-family: $interstate-bold;
      font-size: 18px;
      color: #09163b;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &-line2 {
        font-family: $interstate-regular;
        font-size: 15px;
        color: #09163b;
        line-height: 21px;
        margin-bottom: 25px;
      }

      @media only screen and (max-width: 375px) {  

        &-line2{
            margin-bottom: 5px;
        }
          &-line1,
          &-line2{
            margin-left: 20px; 
            margin-right: 20px; 
          }
    }
  }
}
