@import '../../../src/styles/vars.scss';

.research-insight-container{
    max-width: 1440px;

    @media only screen and (max-width: 375px) {  
        margin: 0 35px 0 25px;     
    }

    &-header{
        font-family: $interstate-bold;
        font-size: 127px;
        color: #09163B;
        line-height: 114px;
        margin-bottom: 56px;

        @media only screen and (max-width: 375px) {  
            font-size: 55px;
            color: #000;
            line-height: 61px;
            margin-bottom: 20px;     
        }

    }

    &-subheadline{
        font-family: $interstate-light;
        font-size: 23px;
        color: #09163B;
        line-height: 29px;
        text-transform: uppercase;
        border-bottom:  6px solid #1EFF71;
        // max-width: 358px;
        margin-bottom: 30px;

         
        @media only screen and (max-width: 375px) {  
            font-size: 18px;
            color: #000;
            line-height: 21px;   
            border-bottom:  3px solid #1EFF71;
        }
    }

    &-bodytext{
        font-family: $interstate-light;
        font-size: 18px;
        color: #09163B;
        line-height: 24px;

        
        @media only screen and (max-width: 375px) {  
            font-size: 13px;
            color: #000;
            line-height: 19px;   
        }
    }
}