@import '../../../src/styles/vars.scss';

.advocacy-container{
    max-width: 1440px;

    @media only screen and (max-width: 375px) {  
        margin: 0 35px 0 25px;     
    }

    &-header{
        font-family: $interstate-bold;
        font-size: 127px;
        color: #09163B;
        line-height: 114px;
        margin-bottom: 56px;

        @media only screen and (max-width: 375px) {  
            font-size: 55px;
            color: #000;
            line-height: 50px;
            margin-bottom: 15px;     
        }

    }

    &-subheadline{
        font-family: $interstate-bold;
        font-size: 23px;
        color: #09163B;
        line-height: 29px;
        text-transform: uppercase;
        margin-bottom: 30px;

        &-line1{
            width: 77%;
        }

        &-line2{
            width: 50%;
            margin-top: 10px;
        }

        @media only screen and (max-width: 375px) {  
            font-size: 18px;
            color: #09163B;
            line-height: 21px;   

            &-line1{
                width: 95%;
            }
    
            &-line2{
                width: 63%;
                margin-top: 10px;
            }
        }

        &-line1, &-line2{
            border-bottom:  6px solid #1EFF71;
        
            @media only screen and (max-width: 375px) {  
                border-bottom:  3px solid #1EFF71;}
        }
    }

    &-bodytext{
        font-family: $interstate-light;
        font-size: 18px;
        color: #09163B;
        line-height: 24px;
        
        
        @media only screen and (max-width: 375px) {  
            font-size: 13px;
            color: #000;
            line-height: 19px;   
        }
    }

    &-moreinformation{
        font-family: $interstate-light;
        font-size: 15px;
        color: #09163B;
        line-height: 21px;

        &-link{
            display: block;
            margin: 25px 0;
            font-size: 18px;
            line-height: 24px;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}